@media print {
   /* @page {
      size: A4;
      margin: 20mm;
    }*/
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 20mm;
   } 
   .content {
		margin-bottom: 16pt;
		/* height: 10cm; does not work*/
	}
}
body {
	margin: 0;
	font-family: Liberation Serif;
}
a {
	font-size: 10pt;
}
div.header {
	text-align: left;
	padding: 0;
	font-size: 24pt;
	margin: 0 0 1cm 0;
}
div.intro {
	text-align: left;
	font-size: 12pt;
	min-width: 800px;
	margin: 0 0 13mm 1cm;
}
div.below {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
div.leftside {
	flex: 35%;
	max-width: 35%;
	/* background-color: green;*/
}
div.rightside {
	flex: 65%;
	max-width: 65%;
	/* background-color: blue; */
}
.section {
	font-size: 12pt;
	font-weight: bold;
	margin: 7mm 5mm 0 0;
}
div.employment {
	widows: 0;
}
.entry {
	font-size: 11pt;
	font-weight: bold;
	margin: 4mm 5mm 0 0;
	break-after: avoid;
}
.link {
	margin: 0;
	break-after: avoid;
}
p {
	font-size: 10pt;
	width: 100%;
	margin: 0 15mm;
	break-after: avoid;}
li {
	font-size: 10pt;
	/*width: 100%;*/
	margin: 0 5mm;
}
.position {
	font-size: 10pt;
	font-weight: bold;
	margin: 2mm 15mm 0 0;
	break-after: avoid;
}
div.footer {
	position: fixed;
	bottom: 0;
	font-family: Arial;
	font-size: 8pt;
	/* margin: 1cm 0; */
	page-break-after: always;
}
